@font-face {
    font-family: 'Zona Pro';
    src: url("../fonts/subset-ZonaPro-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Zona Pro';
    src: url("../fonts/subset-ZonaPro-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Zona Pro';
    src: url("../fonts/subset-ZonaPro-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Zona Pro';
    src: url("../fonts/subset-ZonaPro-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Zona Pro';
    src: url("../fonts/subset-ZonaPro-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}