*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    //background-color: $bg-light-color;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &.overflow {
        overflow: hidden;
    }
}

.content {
    flex: 1 0 auto;
    padding-top: 65px;
    @media(min-width: $sm) {
        padding-top: 100px;
    }
    @media(min-width: $fhd) {
        padding-top: 5.209vw;
    }
}

.footer {
    flex-shrink: 0;
}