html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: $text-color;
    font-family: 'Zona Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    @media(min-width: $fhd) {
        font-size: 0.938vw;
        line-height: 1.55555;
    }
}

a {
    color: $text-color;
    transition: color 0.3s;

    &:active,
    &:focus,
    &:hover {
        color: $link-hover-color;
    }
}

button,
input,
select,
textarea {
    font-family: 'Zona Pro', Arial, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

ol,
ul {
    list-style: none;
    margin-top: 0;
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 28px;
        @media(min-width: $fhd) {
            margin-bottom: 1.459vw;
        }
    }
}

ul {
    &:not([class]) {
        li {
            padding-left: 14px;
            position: relative;
            @media(min-width: $fhd) {
                padding-left: 0.834vw;
            }

            &:not(:last-child) {
                margin-bottom: 16px;
                @media(min-width: $fhd) {
                    margin-bottom: 0.834vw;
                }
            }

            &::before {
                content: '•';
                left: 0;
                position: absolute;
                top: 0.75em;
                transform: translateY(-50%);
                z-index: 0;
            }
        }
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 28px;
        @media(min-width: $fhd) {
            margin-bottom: 1.459vw;
        }
    }
}