html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: $text-color;
    font-family: 'Zona Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    @media(min-width: $fhd) {
        font-size: 0.938vw;
        line-height: 1.55555;
    }
}

a {
    color: $text-color;
    transition: color 0.3s;

    &:active,
    &:focus,
    &:hover {
        color: $link-hover-color;
    }
}

button,
input,
select,
textarea {
    font-family: 'Zona Pro', Arial, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

ol,
ul {
    list-style: none;
    margin-top: 0;
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 28px;
        @media(min-width: $fhd) {
            margin-bottom: 1.459vw;
        }
    }
}

ul {
    &:not([class]) {
        li {
            padding-left: 14px;
            position: relative;
            @media(min-width: $fhd) {
                padding-left: 0.834vw;
            }

            &:not(:last-child) {
                margin-bottom: 16px;
                @media(min-width: $fhd) {
                    margin-bottom: 0.834vw;
                }
            }

            &::before {
                content: '•';
                left: 0;
                position: absolute;
                top: 0.75em;
                transform: translateY(-50%);
                z-index: 0;
            }
        }
    }
}

.no-list {
    li {
        &:not(:last-child) {
            margin-bottom: 16px;
            @media(min-width: $fhd) {
                margin-bottom: 0.834vw;
            }
        }
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 28px;
        @media(min-width: $fhd) {
            margin-bottom: 1.459vw;
        }
    }
}

.text-center {
    text-align: center;
}

.wide-image {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    @media(min-width: $fhd) {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }

    img {
        border-radius: clamp(12px, 6vw, 32px);
        box-shadow: 0 0 10px 0 rgba(#000, 0.15);
        display: block;
        width: 100%;
        @media(min-width: $fhd) {
            border-radius: 1.667vw;
            box-shadow: 0 0 0.521vw 0 rgba(#000, 0.15);
        }
    }
}

.columns-3 {
    display: grid;
    justify-content: center;
    grid-row-gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    @media(min-width: $sm) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
    }
    @media(min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: $fhd) {
        grid-row-gap: 1.667vw;
        grid-column-gap: 2.917vw;
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }

    img {
        border: 1px solid $text-color;
        border-radius: 0 0 12px 12px;
        display: block;
        width: 100%;
        @media(min-width: $hd) {
            border-radius: 0 0 24px 24px;
        }
        @media(min-width: $fhd) {
            border-width: 0.105vw;
            border-radius: 0 0 1.667vw 1.667vw;
        }
    }
}