$sm: 768px;
$md: 1024px;
$hd: 1200px;
$fhd: 1900px;
$text-color: #2D354F;
$text-light-color: #444F74;
$error-color: #BF2A2A;
$valid-color: #468558;
$link-hover-color: #5E6AA9;
$bg-color: #D6DEFF;
$bg-light-color: #ECF0FF;
$bg-heavy-color: #C0C9F0;