<section class="b-20 dark-bg">
    <div class="b-20__text-block">
        <h2 class="b-20__title">Разработка<br> и&nbsp;продвижение сайта</h2>
        <p class="b-20__text">CMS 1С-Битрикс, интеграция сайта с 1С, комплексная маркетинговая поддержка.</p>
        <p class="b-20__link">
            <a href="#" target="_blank">goldunionhouse.com</a>
        </p>
        <div class="b-20__player">
            <div class="player">
                <img src="images/content/player.svg" alt="">
            </div>
        </div>
    </div>
    <div class="b-20__media">
        <img src="images/content/case/img_2.jpg" srcset="images/content/case/img_2@2x.jpg 2x" alt="">
    </div>
</section>