<section class="b-11">
    <div class="b-11__text-block">
        <div class="b-11__title-block">
            <h2 class="b-11__title">Что предлагаем мы?</h2>
            <button class="button button--type_2" type="button" data-fancybox="feedbackPopup_b-11" data-src="#feedbackPopup">
                Написать нам
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </button>
        </div>
        <div class="b-11__text">
            <p>Мы пришли к тому, что во всех сферах деятельности необходим особый подход, который позволит запустить важнейшие механизмы развития бизнеса и предопределят понимание дальнейшей стратегии</p>
        </div>
    </div>
    <div class="b-11__slider">
        сладйер
    </div>
</section>