<section class="b-5">
    <div class="b-5__text-block">
        <h2 class="b-5__title"><b>Наши</b> услуги</h2>
        <p class="b-5__button-block">
            <a class="button button--type_4" href="#">
                Все услуги
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </p>
    </div>
    <div class="b-5__slider-block">
        <div class="js-services-slider swiper horizontal-cursor">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Технический аудит</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Дизайн и разработка сайта</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Настройка сквозной аналитики</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Повышение качества рекламы</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Контент-маркетинг</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Комплексное продвижение для бизнеса</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <h3 class="service-card__title">Разработка виджетов amoCRM</h3>
                        <ul>
                            <li>Независимая экспертиза;</li>
                            <li>комплексный анализ;</li>
                            <li>инвестиционное исследование;</li>
                            <li>способ проверки технологического состояния и др.</li>
                        </ul>
                        <p>Подготовленные специалисты проведут исследование в разных областях, относящихся к объекту, произведут расчеты и сформулируют выводы относительно рентабельности, возможности экономии, эффективности управления и др.</p>
                        <p class="service-card__price">500 000 руб</p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>