<section class="b-4">
    <h2 class="b-4__title">Кто наши эксперты?</h2>

    <div class="b-4__cards">
        <div class="person-card">
            <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1.jpg 2x" alt="Михаил">
            <p class="person-card__title">Михаил</p>
            <p class="person-card__text">Digital-стратег</p>
        </div>

        <div class="person-card dark-bg">
            <img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2.jpg 2x" alt="Виктор">
            <p class="person-card__title">Виктор</p>
            <p class="person-card__text">Генеральный директор</p>
        </div>
    </div>

    <div class="b-4__text-block">
        <p>Основываясь на данных в своей работе, мы анализируем, разрабатываем, интегрируем и создаём новое, чтобы обеспечить устойчивый результат и более глубокое взаимодействие с клиентом.</p>
        <div class="b-4__buttons">
            <a class="button button--type_2" href="#">О компании</a>
            <a class="button button--type_4" href="#">
                Спросить совет
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>
    </div>

</section>