<section class="b-12">
    <div class="b-12__media">
        <div class="video">
            <video class="video__video" preload="none" loop="loop" muted="" poster="images/content/solution/video@2x.jpg">
                <source src="images/video.mp4">
            </video>
            <button class="video__play" type="button" title="Включить видео">
                <svg aria-hidden="true">
                    <use xlink:href="#play"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="b-12__text-block">
        <h2 class="b-12__title">Как мы это<br> делаем?</h2>
        <div class="b-12__text">
            <p>Поиск и привлечение новых возможностей для продаж</p>
            <p>
                Мы поможем вам позиционировать себя так, чтобы общаться с вашими потенциальными клиентами. Обладая более чем 15-летним опытом маркетинга в технологической отрасли, VSignal имеет возможности для предоставления комплексных маркетинговых
                решений, которые помогут вам получить новые перспективы.
            </p>
        </div>
    </div>
</section>