<section class="b-1">
    <div class="b-1__top">
        <p class="b-1__title"><b>Vsignal&nbsp;—</b><br></p>
        <p class="b-1__text">c 2006 года решам проблемы клиентов в макертинге</p>
        <div class="b-1__media">
            <div class="video">
                <video class="video__video" preload="none" loop="loop" muted="" poster="images/content/img_1.jpg">
                    <source src="images/video.mp4">
                </video>
                <button class="video__play" type="button" title="Включить видео">
                    <svg aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </button>
            </div>
        </div>
        <button class="button button--type_2" type="button" data-fancybox="feedbackPopup_b-1" data-src="#feedbackPopup">
            Написать нам
            <svg class="arrow-right" aria-hidden="true">
                <use xlink:href="#arrow_right"></use>
            </svg>
        </button>
    </div>
    <div class="b-1__bottom">
        <div class="b-1__player">
            <div class="player">
                <img src="images/content/player.svg" alt="">
            </div>
        </div>
        <div class="b-1__socials">
            <a class="social-button" href="#" target="_blank" title="Мы в Telegram">
                <svg aria-hidden="true">
                    <use xlink:href="#tg"></use>
                </svg>
            </a>
            <a class="social-button" href="#" target="_blank" title="Мы Вконтакте">
                <svg aria-hidden="true">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>
            <a class="social-button" href="#" target="_blank" title="Мы на Behance">
                <svg aria-hidden="true">
                    <use xlink:href="#be"></use>
                </svg>
            </a>
        </div>
    </div>
</section>