<section class="b-14">
    <div class="b-14__text-block">
        <h1 class="b-14__title">Нужен совет?</h1>
        <p class="b-14__text">Мы поделимся нашим опытом, как решить ваши бизнес-задачи любой сложности</p>
        <div class="b-14__bottom">
            <button class="button button--type_2" type="button" data-fancybox="feedbackPopup_b-1" data-src="#feedbackPopup">
                Спросить совет
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </button>
            <div class="b-14__player">
                <div class="player">
                    <img src="images/content/player.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="b-14__cards">
        <div class="person-card">
            <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1.jpg 2x" alt="Михаил">
            <p class="person-card__title">Михаил</p>
            <p class="person-card__text">Digital-стратег</p>
        </div>

        <div class="person-card dark-bg">
            <img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2.jpg 2x" alt="Виктор">
            <p class="person-card__title">Виктор</p>
            <p class="person-card__text">Генеральный директор</p>
        </div>
    </div>
</section>