<section class="b-16 dark-bg">
    <div class="b-16__text-block">
        <div class="b-16__title-block">
            <h2 class="b-16__title">Мы помогаем корпорациям, среднему и малому бизнесу</h2>
            <button class="button button--type_2" type="button" data-fancybox="feedbackPopup_b-16" data-src="#feedbackPopup">
                Написать нам
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </button>
        </div>
        <div class="b-16__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio dicta nihil architecto ab doloribus sapiente quo optio, repellendus dolorem aliquam expedita libero officiis suscipit ducimus, sequi totam mollitia labore!</p>
        </div>
    </div>
    <div class="b-16__logos">
        <img width="185" height="69" src="images/content/advice/logos/logo_1.svg" alt="Название компании">
        <img width="159" height="69" src="images/content/advice/logos/logo_2.jpg" alt="Название компании">
        <img width="154" height="69" src="images/content/advice/logos/logo_3.svg" alt="Название компании">
        <img width="109" height="106" src="images/content/advice/logos/logo_4.svg" alt="Название компании">
        <img width="176" height="69" src="images/content/advice/logos/logo_5.svg" alt="Название компании">
        <img width="113" height="110" src="images/content/advice/logos/logo_6.svg" alt="Название компании">
        <img width="149" height="79" src="images/content/advice/logos/logo_7.svg" alt="Название компании">
        <img width="212" height="79" src="images/content/advice/logos/logo_8.jpg" alt="Название компании">
        <img width="197" height="79" src="images/content/advice/logos/logo_9.jpg" alt="Название компании">
        <img width="247" height="79" src="images/content/advice/logos/logo_10.svg" alt="Название компании">
        <img width="345" height="79" src="images/content/advice/logos/logo_11.svg" alt="Название компании">
        <img width="119" height="115" src="images/content/advice/logos/logo_12.jpg" alt="Название компании">
    </div>
</section>