<section class="b-3">
    <div class="b-3__text-block">
        <h2 class="b-3__title">Наши решения</h2>
        <div class="b-3__text">
            <p>У нас есть опыт во многих областях, <b>от розничной торговли до медицины</b>. Мы постоянно укрепляем наши знания, углубляясь в каждый проект, а также работая над более сложными.</p>
        </div>

        <div class="b-3__slider">
            <div class="js-solutions swiper horizontal-cursor">
                <ul class="solutions swiper-wrapper">
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Медицина</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_1.jpg" srcset="images/content/solutions/img_1.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">E-commerce</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_2.jpg" srcset="images/content/solutions/img_2.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Мебель</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_3.jpg" srcset="images/content/solutions/img_3.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Стоматология</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_4.jpg" srcset="images/content/solutions/img_4.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Медицина</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_1.jpg" srcset="images/content/solutions/img_1.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">E-commerce</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_2.jpg" srcset="images/content/solutions/img_2.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Мебель</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_3.jpg" srcset="images/content/solutions/img_3.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="solutions__item swiper-slide">
                        <a class="solutions__link" href="#">
                            <span class="solutions__title">Стоматология</span>
                            <figure class="solutions__image">
                                <img src="images/content/solutions/img_4.jpg" srcset="images/content/solutions/img_4.jpg 2x" alt="">
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>