<section class="b-21">
    <h2 class="b-21__title text-center">Изучили тематику</h2>
    <p>…Окажись у этой сцены свидетель, он, надо полагать, перегнулся бы через перила, ожидая увидеть внизу три изувеченных тела. Но он не увидел бы там ничего, кроме восьми небольших луж, расплющенной пачки от сигарет «Приморские» и трещин на
        асфальте.</p>
    <p>Зато если бы он обладал нечеловечески острым зрением, то смог бы разглядеть вдалеке трех комаров, улетающих в сторону скрытого за деревьями поселка.</p>
    <picture class="wide-image">
        <source srcset="images/content/case/img_3_fhd.jpg, images/content/case/img_3_fhd.jpg 2x" media="(min-width: 1900px)">
        <source srcset="images/content/case/img_3_hd.jpg, images/content/case/img_3_hd.jpg 2x" media="(min-width: 1200px)">
        <source srcset="images/content/case/img_3_tab.jpg, images/content/case/img_3_tab.jpg 2x" media="(min-width: 768px)">
        <img src="images/content/case/img_3_mob.jpg" srcset="images/content/case/img_3_mob@2x.jpg 2x" alt="">
    </picture>
    <h3 class="b-21__title text-center">Изучили тематику</h3>
    <p>Летели молча. Сэм описывал широкие круги вокруг Артура и Арнольда, которые угрюмо посматривали на его эволюции; особенно плохо было Арнольду, которого тянула к земле поблескивавшая в его брюхе рубиновая капля. Куда летел Сэм, было непонятно —
        он выбирал дорогу по ему одному известным приметам, несколько раз поворачивал и менял высоту, зачем-то влетел в окно, промчался по длинному пустому чердаку и вылетел с другой стороны; наконец навстречу поплыла белая стена с окном в синей
        раме, и все вокруг накрыла густая тень росших вокруг дома груш. Сэм снизился, подлетел к невысокому окну, затянутому белой марлей, и приземлился на криво прибитую доску, служившую карнизом. Артур с Арнольдом сели рядом. Как только стих тонкий
        звон крыльев, перекрывавший почти все остальные звуки, стал слышен доносящийся из-за марли храп.</p>
</section>
<section class="b-21 dark-bg">
    <h2 class="b-21__title">Спроектировали прототип</h2>
    <p>…Окажись у этой сцены свидетель, он, надо полагать, перегнулся бы через перила, ожидая увидеть внизу три изувеченных тела. Но он не увидел бы там ничего, кроме восьми небольших луж, расплющенной пачки от сигарет «Приморские» и трещин на
        асфальте.</p>
    <p>Зато если бы он обладал нечеловечески острым зрением, то смог бы разглядеть вдалеке трех комаров, улетающих в сторону скрытого за деревьями поселка.</p>
    <div class="columns-3">
        <div class="columns-3__column">
            <img src="images/content/case/img_4.jpg" srcset="images/content/case/img_4@2x.jpg 2x" alt="">
        </div>
        <div class="columns-3__column">
            <img src="images/content/case/img_5.jpg" srcset="images/content/case/img_5@2x.jpg 2x" alt="">
        </div>
        <div class="columns-3__column">
            <img src="images/content/case/img_6.jpg" srcset="images/content/case/img_6@2x.jpg 2x" alt="">
        </div>
    </div>
</section>
<section class="b-21">
    <h2 class="b-21__title text-center">Нашли дизайн-решение</h2>
    <p>
        Что почувствовал бы этот воображаемый наблюдатель и как бы он поступил — растерянно полез бы вниз по ржавой пожарной лестнице, единственному пути, ведущему прочь с давно и наглухо заколоченной террасы, или — кто знает? — ощутив в своей душе
        новое неведомое чувство, сел бы на серое лепное ограждение и повалился бы следом за тремя собеседниками? Не знаю. Да и вряд ли кто-нибудь знает, как поступил бы тот, кто на самом деле не существует, но зато обладает нечеловечески острым
        зрением.
    </p>
    <br>
    <h3 class="b-21__title">Цвета</h3>
    <div class="design-block">
        <div class="design-block__text-block">
            <p class="design-block__title">Основные акценты</p>
            <div class="design-block__colors">
                <div class="design-block__color" style="background-color: #F3F3F3"></div>
                <div class="design-block__color" style="background-color: #000000"></div>
                <div class="design-block__color" style="background-color: #343835"></div>
                <div class="design-block__color" style="background-color: #C8962C"></div>
                <div class="design-block__color" style="background-color: rgba(255, 172, 172, 0.4)"></div>
            </div>
            <p class="design-block__title">Второстепенные цвета</p>
            <div class="design-block__colors">
                <div class="design-block__color" style="background-color: #F3F3F3"></div>
                <div class="design-block__color" style="background-color: #F3F3F3"></div>
                <div class="design-block__color" style="background-color: #F3F3F3"></div>
            </div>
            <p class="design-block__title">Цвета индикаторы</p>
            <div class="design-block__colors">
                <div class="design-block__color" style="background-color: #BF2A2A"></div>
                <div class="design-block__color" style="background-color: #468558"></div>
                <div class="design-block__color" style="background-color: #202730"></div>
            </div>
        </div>
        <div class="design-block__media">
            <img src="images/content/case/img_2.jpg" srcset="images/content/case/img_2@2x.jpg 2x" alt="">
        </div>
    </div>
</section>
<section class="b-21">
    <h2 class="b-21__title text-center">Придумали логику</h2>
    <p>Отлетев на несколько метров от стены, Сэм оглянулся на компаньонов. Артур с Арнольдом превратились в небольших комаров характерного цвета «мне избы серые твои», когда-то доводившего до слез Александра Блока; теперь они с мутной завистью
        глядели на своего спутника, покачиваясь в потоке воздуха, восходящем от нагретой за день земли.</p>
    <picture class="wide-image">
        <source srcset="images/content/case/img_3_fhd.jpg, images/content/case/img_3_fhd.jpg 2x" media="(min-width: 1900px)">
        <source srcset="images/content/case/img_3_hd.jpg, images/content/case/img_3_hd.jpg 2x" media="(min-width: 1200px)">
        <source srcset="images/content/case/img_3_tab.jpg, images/content/case/img_3_tab.jpg 2x" media="(min-width: 768px)">
        <img src="images/content/case/img_3_mob.jpg" srcset="images/content/case/img_3_mob@2x.jpg 2x" alt="">
    </picture>
</section>