<section class="b-17">
    <h2 class="b-17__title">Формат работы</h2>

    <div class="b-17__slider">
        <div class="js-services-slider-2 swiper horizontal-cursor">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="service-card service-card--type_2">
                        <h3 class="service-card__title">Консультация</h3>
                        <p>
                            Цель:<br>
                            <b>Получить ответы на свои бизнес-вопросы в Digital</b>
                        </p>
                        <ul>
                            <li>Какую CMS выбрать?</li>
                            <li>Как оценить эффективность в интернете?</li>
                            <li>Как связать офлайн и онлайн?</li>
                        </ul>
                        <p>
                            Стоимость:<br>
                            <b class="service-card__small-price">9 000 руб. (до 3 часов)</b>
                        </p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card service-card--type_2">
                        <h3 class="service-card__title">Аудит</h3>
                        <p>
                            Цель:<br>
                            <b>Получить ответы на свои бизнес-вопросы в Digital</b>
                        </p>
                        <ul>
                            <li>Какую CMS выбрать?</li>
                            <li>Как оценить эффективность в интернете?</li>
                            <li>Как связать офлайн и онлайн?</li>
                        </ul>
                        <p>
                            Стоимость:<br>
                            <b class="service-card__small-price">50 000 руб.</b>
                        </p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card service-card--type_2">
                        <h3 class="service-card__title">Стратегия</h3>
                        <p>
                            Цель:<br>
                            <b>Получить ответы на свои бизнес-вопросы в Digital</b>
                        </p>
                        <ul>
                            <li>Какую CMS выбрать?</li>
                            <li>Как оценить эффективность в интернете?</li>
                            <li>Как связать офлайн и онлайн?</li>
                        </ul>
                        <p>
                            Стоимость:<br>
                            <b class="service-card__small-price">100 000 руб.</b>
                        </p>
                        <a class="service-card__button" href="#">
                            Заказать
                            <svg class="arrow-right" aria-hidden="true">
                                <use xlink:href="#arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>