<section class="b-10 b-10--type_1">
    <div class="b-10__card">
        <div class="person-card">
            <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1.jpg 2x" alt="Михаил">
            <p class="person-card__title">Михаил</p>
            <p class="person-card__text">Digital-стратег</p>
        </div>
    </div>
    <div class="b-10__text-block">
        <h2 class="b-10__title">“Развивайте свою клинику не только сарафанным радио„</h2>
        <div class="b-10__text">
            <p>от разработки визуальной истории, которая подчеркивает уникальные возможности вашего бизнеса, до донесения вашей идеи на сайте, социальных сетях и других каналах для поиска новых клиентов.</p>
        </div>
        <div class="b-10__button-block">
            <button class="button button--type_4" type="button" data-fancybox="feedbackPopup_b-10" data-src="#feedbackPopup">
                Спросить совет
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </button>
            <div class="b-10__player">
                <div class="player">
                    <img src="images/content/player.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>