<section class="b-9 dark-bg">
    <h2 class="b-9__title">3 ключевые задачи<br> для решения проблем</h2>
    <div class="iconed-cards">
        <ul class="iconed-cards__list">
            <li class="iconed-cards__item">
                <div class="iconed-card">
                    <div class="iconed-card__icon"><img src="images/content/solution/icon_1.svg" alt=""></div>
                    <p class="iconed-card__title">Найдите новых пациентов</p>
                    <p>Создайте компанию нацеленную на новых клиентов, которые получат выгоду от ваших услуг.</p>
                </div>
            </li>
            <li class="iconed-cards__item">
                <div class="iconed-card">
                    <div class="iconed-card__icon"><img src="images/content/solution/icon_2.svg" alt=""></div>
                    <p class="iconed-card__title">Увеличьте средний чек услуги</p>
                    <p>Повысте маржинальность услуги, с помощью наших возможностей.</p>
                </div>
            </li>
            <li class="iconed-cards__item">
                <div class="iconed-card">
                    <div class="iconed-card__icon"><img src="images/content/solution/icon_3.svg" alt=""></div>
                    <p class="iconed-card__title">Обновите свой дизайн</p>
                    <p>Подчеркните свой уникальный имидж и проецируйте его на клиентов.</p>
                </div>
            </li>
        </ul>
    </div>
</section>