<section class="b-2">
    <div class="b-2__title-block">
        <h2 class="b-2__title">В каких случаях <b>VSignal</b><br> будет полезным</h2>
        <div class="b-2__player">
            <div class="player">
                <img src="images/content/player.svg" alt="">
            </div>
        </div>
    </div>
    <div class="b-2__content">
        <ol class="list-table">
            <li class="list-table__item">
                <p class="list-table__title"><span class="list-table__title-num">1</span> Поиск точек роста</p>
                <p class="list-table__text">Проведем маркетинговый аудит вашего продукта и рынка. Определим кому, зачем и как мы будем коммуницировать о продукте.</p>
            </li>
            <li class="list-table__item">
                <p class="list-table__title"><span class="list-table__title-num">2</span> Выход на рынок</p>
                <p class="list-table__text">Хочу продвать в интернете: как доготовить продукт для выхода в конкурентную среду.</p>
            </li>
            <li class="list-table__item">
                <p class="list-table__title"><span class="list-table__title-num">3</span> Бизнес не развивается</p>
                <p class="list-table__text">Падает уровень продаж. Нет лидов. Сменили пять подрядчиков и ни чего не изменилось.</p>
            </li>
            <li class="list-table__item">
                <p class="list-table__title"><span class="list-table__title-num">4</span> Неопределенность</p>
                <p class="list-table__text">Я не знаю с чего начать. У меня нет маркетолога или он не справляется.</p>
            </li>
            <li class="list-table__item">
                <p class="list-table__title"><span class="list-table__title-num">5</span> Нужен: сайт, дизайн,<br> продвижение, репутация</p>
                <p class="list-table__text">Классичекий агентский набор инструментов, когда все понятно.</p>
            </li>
        </ol>
    </div>
</section>