<section class="b-19">
    <h2 class="b-19__title">Наше решение</h2>
    <div class="b-19__text-block">
        <p>
            Абсолютно любой креатив мы создаем через методологии, через понимание основных ценностей и смыслов, которые хотим передать с его помощью. Качество креатива зависит, в первую очередь, от команды: ее опыта, насмотренности, инструментария и
            слаженности работы. Однако только этих факторов мало для создания действительно успешного креатива.
        </p>
    </div>
    <div class="b-19__cards">
        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Исправление ошибок;</li>
                <li>Повторные итерации тестирований;</li>
                <li>Запуск</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>

        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Повторные итерации тестирований;</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>

        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Исправление ошибок;</li>
                <li>Повторные итерации тестирований;</li>
                <li>Запуск</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>

        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Исправление ошибок;</li>
                <li>Повторные итерации тестирований;</li>
                <li>Запуск</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>

        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Повторные итерации тестирований;</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>

        <div class="service-card service-card--type_2">
            <h3 class="service-card__title">Позиционирование бренда на рынке</h3>
            <ul>
                <li>Разработка идеи позиционирования бренда;</li>
                <li>Тестирование нескольких вариантов;</li>
                <li>Поиск ошибок и нарушений логики;</li>
                <li>Исправление ошибок;</li>
                <li>Повторные итерации тестирований;</li>
                <li>Запуск</li>
            </ul>
            <a class="service-card__button" href="#">
                Заказать
                <svg class="arrow-right" aria-hidden="true">
                    <use xlink:href="#arrow_right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>