<section class="cases">
    <div class="cases__title-block">
        <h2 class="cases__title">Наши кейсы</h2>
        <div class="cases__filter">
            <div class="cases__filter-list">
                <button class="cases__filter-button is-active" type="button">E-commerce</button>
                <button class="cases__filter-button" type="button">E-commerce<br> Premium</button>
                <button class="cases__filter-button" type="button">Медицина</button>
                <button class="cases__filter-button" type="button">Оздоровительные<br> центры</button>
                <button class="cases__filter-button" type="button">Заводы</button>
                <button class="cases__filter-button" type="button">Электроника</button>
                <button class="cases__filter-button" type="button">Одежда</button>
            </div>
        </div>
    </div>
    <div class="cases__slider">
        <div class="case">
            <div class="case__title-block">
                <p class="case__title">Siberia resort &&nbsp;spa</p>
                <div class="case__pt-p">
                    <div class="case__podcast-time">
                        <svg aria-hidden="true">
                            <use xlink:href="#time_line"></use>
                        </svg>
                        <span>1:25</span>
                    </div>
                    <p class="case__period">2015&nbsp;-&nbsp;наст.<br> время</p>
                </div>
            </div>
            <div class="case__detail"></div>
        </div>
        <div class="case">
            <div class="case__title-block">
                <p class="case__title">Nikolaev.group</p>
                <div class="case__pt-p">
                    <div class="case__podcast-time">
                        <svg aria-hidden="true">
                            <use xlink:href="#time_line"></use>
                        </svg>
                        <span>1:25</span>
                    </div>
                    <p class="case__period">2015&nbsp;-&nbsp;наст.<br> время</p>
                </div>
            </div>
            <div class="case__detail"></div>
        </div>
        <div class="case">
            <div class="case__title-block">
                <p class="case__title">GoldUnionHouse</p>
                <div class="case__pt-p">
                    <div class="case__podcast-time">
                        <svg aria-hidden="true">
                            <use xlink:href="#time_line"></use>
                        </svg>
                        <span>1:25</span>
                    </div>
                    <p class="case__period">2015&nbsp;-&nbsp;наст.<br> время</p>
                </div>
            </div>
            <div class="case__detail"></div>
        </div>
        <div class="case">
            <div class="case__title-block">
                <p class="case__title">Digital Razor</p>
                <div class="case__pt-p">
                    <div class="case__podcast-time">
                        <svg aria-hidden="true">
                            <use xlink:href="#time_line"></use>
                        </svg>
                        <span>1:25</span>
                    </div>
                    <p class="case__period">2015&nbsp;-&nbsp;наст.<br> время</p>
                </div>
            </div>
            <div class="case__detail"></div>
        </div>
    </div>
</section>