<section class="cases_new">
    <h2 class="cases_new__title">Наши кейсы</h2>

    <div class="cases-accordions">
        <div class="case-accordion">
            <button class="case-accordion__toggler" type="button">
                <span>Санаторий и Spa</span>
                <span class="js-new-cases-slider-pagination slider-cnt" data-id="cases_1">1/3</span>
            </button>

            <div class="case-accordion__body">
                <div class="case-accordion__detail">
                    <div class="js-new-cases-slider swiper" data-id="cases_1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="case-accordion__arrows">
                            <button class="js-new-cases-slider-prev swiper-button-prev" type="button" title="Назад" data-id="cases_1">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_prev_new"></use>
                                </svg>
                            </button>
                            <button class="js-new-cases-slider-next swiper-button-next" type="button" title="Вперёд" data-id="cases_1">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_next_new"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="case-accordion">
            <button class="case-accordion__toggler" type="button">
                <span>Медицинские центры</span>
                <span class="js-new-cases-slider-pagination slider-cnt" data-id="cases_2">1/3</span>
            </button>

            <div class="case-accordion__body">
                <div class="case-accordion__detail">
                    <div class="js-new-cases-slider swiper" data-id="cases_2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="case-accordion__arrows">
                            <button class="js-new-cases-slider-prev swiper-button-prev" type="button" title="Назад" data-id="cases_2">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_prev_new"></use>
                                </svg>
                            </button>
                            <button class="js-new-cases-slider-next swiper-button-next" type="button" title="Вперёд" data-id="cases_2">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_next_new"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="case-accordion">
            <button class="case-accordion__toggler" type="button">
                <span>Интернет-магазины</span>
                <span class="js-new-cases-slider-pagination slider-cnt" data-id="cases_3">1/3</span>
            </button>

            <div class="case-accordion__body">
                <div class="case-accordion__detail">
                    <div class="js-new-cases-slider swiper" data-id="cases_3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <p class="case-accordion__detail-title">С-З Центр Доказательной Медицины</p>

                                <div class="case-accordion__columns">
                                    <div class="case-accordion__column">
                                        <p><b>Северо-Западный Центр Доказательной Медицины</b> - сеть современных медицинских центров и 3 высокотехнологичные лаборатории на Северо-Западе России.</p>
                                    </div>
                                    <div class="case-accordion__column">
                                        <p><b>Что сделано:</b> разработка сайта на CMS Bitrix, интеграция с МИС личного кабинета с возможностью записи пациента на приём в режиме реального времени, маркетинговая поддержка.</p>
                                    </div>
                                </div>

                                <div class="case-accordion__image">
                                    <img src="http://vsignal.ru/upload/resize_cache/iblock/75a/1090_384_2/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png" srcset="http://vsignal.ru/upload/iblock/75a/mn1nzs5jnw46j6zv1blfedtti2h02k1x.png 2x"
                                      alt="С-З Центр Доказательной Медицины">
                                </div>

                                <div class="case-accordion__nums">
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">18</p>
                                        <p>Динамически обновляемых параметров</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">1240</p>
                                        <p>Анализов доступно на сайте</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">50</p>
                                        <p>Филиалов по Северо‑Западу</p>
                                    </div>
                                    <div class="case-accordion__nums-item">
                                        <p class="case-accordion__nums-title">3</p>
                                        <p>Типа личного кабинета</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="case-accordion__arrows">
                            <button class="js-new-cases-slider-prev swiper-button-prev" type="button" title="Назад" data-id="cases_3">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_prev_new"></use>
                                </svg>
                            </button>
                            <button class="js-new-cases-slider-next swiper-button-next" type="button" title="Вперёд" data-id="cases_3">
                                <svg aria-hidden="true">
                                    <use xlink:href="#slider_next_new"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>