<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <p class="footer__title">Контакты</p>
            <div class="footer__socials">
                <a class="social-button" href="#" target="_blank" title="Мы в Telegram">
                    <svg aria-hidden="true">
                        <use xlink:href="#tg"></use>
                    </svg>
                </a>
                <a class="social-button" href="#" target="_blank" title="Мы Вконтакте">
                    <svg aria-hidden="true">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a class="social-button" href="#" target="_blank" title="Мы на Behance">
                    <svg aria-hidden="true">
                        <use xlink:href="#be"></use>
                    </svg>
                </a>
            </div>
        </div>
        <p class="footer__link"><a href="javascript:void(0)" data-fancybox="feedbackPopupFooter" data-src="#feedbackPopup">Связаться с нами</a></p>
        <div class="footer__contacts">
            <div class="footer__contacts-column">
                <p class="footer__title">Звоните</p>
                <p class="footer__phone"><a href="tel:+78125018207">+ 7 (812) 501-82-07</a></p>
            </div>
            <div class="footer__contacts-column">
                <p class="footer__title">Пишите</p>
                <p><a href="#" target="_blank">Telegram</a></p>
                <p><a href="#" target="_blank">Whatsapp</a></p>
                <p><a href="#" target="_blank">Vkontakte</a></p>
                <p><a href="mailto:mail@vsignal.ru" target="_blank">mail@vsignal.ru</a></p>
            </div>
            <div class="footer__contacts-column">
                <p class="footer__title">Приходите</p>
                <p>г. Санкт-Петербург,<br><br> <a href="#" target="_blank">Гражданский пр. 114</a></p>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2022 Vsignal<br> Все права защищены.
            </p>
            <p class="footer__bottom-link">
                <a href="#">Политика конфиденциальности</a>
            </p>
        </div>
    </div>
</footer>