<header class="header compensate-for-scrollbar">
    <div class="header__inner">
        <a class="header__logo" href="main.html">
            <img src="images/logo.svg" alt="VSignal">
        </a>
        <button class="js-menu-toggler header__menu-opener" type="button" title="Открыть меню">
            <span></span>
        </button>
    </div>
    <div class="main-menu">
        <nav class="main-menu__nav">
            <ul class="main-menu__list">
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">Нужен совет?</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link is-active" href="cases.html">Кейсы</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">Услуги</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="solutions.html">Решения</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">О нас</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">Контакты</a></li>
                <li class="main-menu__list-item"><a class="main-menu__link" href="#">Подкасты</a></li>
            </ul>
        </nav>
        <div class="main-menu__bottom">
            <p class="main-menu__copyright">© 2022 Vsignal</p>
            <button type="button" data-fancybox="feedbackPopup" data-src="#feedbackPopup">Связаться с нами</button>
            <p><a href="#">Политика конфиденциальности</a></p>
        </div>
    </div>
</header>