.b-5 {
    padding-top: clamp(32px, 8.5vw, 40px);
    position: relative;
    padding-bottom: 124px;
    z-index: 0;
    @media(min-width: $sm) {
        padding-top: clamp(40px, 6vw, 72px);
    }
    @media(min-width: $hd) {
        align-items: center;
        display: flex;
        padding-bottom: clamp(40px, 6vw, 72px);
    }
    @media(min-width: $fhd) {
        padding-top: 3.75vw;
        padding-bottom: 3.75vw;
    }

    &__text-block {
        @media(min-width: $hd) {
            padding-left: 48px;
            padding-right: 40px;
            width: 30%;
        }
        @media(min-width: $fhd) {
            padding-left: 4.167vw;
            padding-right: 4.167vw;
        }
    }

    &__title {
        font-size: clamp(32px, 2.6vw, 64px);
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: clamp(24px, 2.6vw, 40px);
        text-align: center;
        @media(min-width: $hd) {
            font-size: clamp(64px, 5vw, 96px);
            margin-bottom: clamp(40px, 4vw, 80px);
            text-align: left;
        }
        @media(min-width: $fhd) {
            font-size: 5vw;
            margin-bottom: 4.167vw;
        }

        b {
            font-weight: 900;
        }
    }

    &__button-block {
        bottom: 40px;
        left: 0;
        position: absolute;
        right: 0;
        top: auto;
        text-align: center;
        z-index: 0;
        @media(min-width: $hd) {
            bottom: auto;
            left: auto;
            position: static;
            right: auto;
            text-align: left;
        }
    }

    &__slider-block {
        .swiper {
            -webkit-mask: linear-gradient(90deg, transparent 0, $bg-color 1% 99%, transparent) 0 50% / 100% 100% no-repeat, linear-gradient(0deg, $bg-color, $bg-color) 50% 0 / 100% 0 no-repeat, linear-gradient(0deg, $bg-color, $bg-color) 50% 100% / 100% 0 no-repeat;
        }
        @media(min-width: $hd) {
            width: 70%;
        }

        .swiper-slide {
            height: auto;
            max-width: clamp(344px, 54vw, 410px);
            padding-left: 10px;
            padding-right: 10px;
            @media(min-width: $sm) {
                max-width: clamp(410px, 54vw, 444px);
                padding-left: 12px;
                padding-right: 12px;
            }
            @media(min-width: $hd) {
                max-width: clamp(444px, 54vw, 480px);
            }
            @media(min-width: $fhd) {
                max-width: 26.771vw;
                padding-left: 0.625vw;
                padding-right: 0.625vw;
            }
        }

        .service-card {
            height: 100%;
            max-width: 100%;
        }
    }
}