.b-17 {
    padding-top: clamp(32px, 8.5vw, 48px);
    padding-bottom: clamp(32px, 8.5vw, 48px);
    @media(min-width: $fhd) {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        margin-bottom: 32px;
        text-align: center;
        @media(min-width: $sm) {
            padding-left: clamp(40px, 6vw, 80px);
            padding-right: clamp(40px, 6vw, 80px);
            text-align: left;
        }
        @media(min-width: $hd) {
            font-size: clamp(32px, 6vw, 40px);
            margin-bottom: clamp(32px, 6vw, 40px);
        }
        @media(min-width: 1600px) {
            padding-left: 160px;
            padding-right: 160px;
        }
        @media(min-width: $fhd) {
            font-size: 2.084vw;
            margin-bottom: 2.084vw;
            padding-left: 8.334vw;
            padding-right: 8.334vw;
        }

        &--type_2 {
            font-weight: 700;
            @media(min-width: $fhd) {
                font-size: 2.5vw;
            }
        }
    }

    &__slider {
        .swiper {
            -webkit-mask: linear-gradient(90deg, transparent 0, $bg-color 1% 99%, transparent) 0 50% / 100% 100% no-repeat, linear-gradient(0deg, $bg-color, $bg-color) 50% 0 / 100% 0 no-repeat, linear-gradient(0deg, $bg-color, $bg-color) 50% 100% / 100% 0 no-repeat;
        }

        .swiper-slide {
            height: auto;
            margin-right: 12px;
            width: 340px;
            @media(min-width: $sm) {
                margin-right: 24px;
                width: 410px;
            }
            @media(min-width: $hd) {
                width: 480px;
            }
            @media(min-width: $fhd) {
                margin-right: 2.917vw;
                width: 25.521vw;
            }
        }

        .service-card {
            height: 100%;
            max-width: 100%;
        }
    }
}