.b-20 {
    padding: clamp(40px, 8.5vw, 56px) clamp(12px, 3.2vw, 56px);
    text-align: center;
    @media(min-width: $sm) {
        padding: clamp(56px, 7vw, 72px) 56px;
    }
    @media(min-width: $md) {
        align-items: center;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }
    @media(min-width: $fhd) {
        padding-top: 6.25vw;
        padding-bottom: 6.25vw;
    }

    &__text-block {
        margin-bottom: 32px;
        @media(min-width: $md) {
            margin-bottom: 0;
            padding-left: 48px;
            padding-right: 48px;
            width: 54%;
        }
        @media(min-width: $fhd) {
            padding-left: 2.917vw;
            padding-right: 2.917vw;
        }
    }

    &__title {
        font-size: clamp(40px, 8vw, 56px);
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 24px;
        @media(min-width: $md) {
            font-size: clamp(56px, 5.2vw, 64px);
        }
        @media(min-width: $hd) {
            font-size: clamp(64px, 5.2vw, 96px);
            letter-spacing: 0.0267vw;
            margin-bottom: clamp(24px, 4vw, 40px);
        }
        @media(min-width: $fhd) {
            font-size: 5vw;
            line-height: 1;
            margin-bottom: 2.048vw;
        }
    }

    &__text {
        @media(max-width: $md - 1px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 480px;
        }
        @media(min-width: $fhd) {
            font-size: 1.25vw;
            letter-spacing: 0.0267vw;
            max-width: 35.417vw;
        }

        &:not(:last-child) {
            margin-bottom: 1.25vw;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 700;
        @media(min-width: $fhd) {
            font-size: 1.25vw;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
            @media(min-width: $fhd) {
                margin-bottom: 1.667vw;
            }
        }

        a {
            align-items: center;
            display: inline-flex;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.94586 6.61422L6.62851 9.9319C6.4129 10.1475 6.37983 10.3541 6.4097 10.5589C6.44353 10.7909 6.56466 11.014 6.66353 11.1392C7.35963 11.8699 8.43246 12.9837 9.41561 13.9789C10.4367 15.0124 11.2912 15.8456 11.566 16.0517C11.6011 16.078 11.7067 16.1279 11.983 16.0396C12.2492 15.9544 12.5159 15.7842 12.6668 15.6585C13.0062 15.3756 13.5107 15.4215 13.7935 15.7609C14.0764 16.1003 14.0305 16.6048 13.6911 16.8876C13.4234 17.1107 12.9785 17.401 12.4704 17.5635C11.9722 17.7228 11.2406 17.8076 10.606 17.3316C10.211 17.0354 9.25164 16.0895 8.27738 15.1033C7.27534 14.089 6.18346 12.9552 5.48352 12.2202L5.46523 12.201L5.44825 12.1806C5.2005 11.8833 4.91309 11.3839 4.82644 10.7898C4.73421 10.1573 4.87557 9.4221 5.49714 8.80053L8.84554 5.4518L8.87118 5.42615L8.89904 5.40293C9.21489 5.13965 9.75281 4.85368 10.3994 4.80664C11.0873 4.75659 11.8465 4.98325 12.5035 5.67641C13.2985 6.5152 14.6402 7.9891 16.0101 9.49397L16.0106 9.49446C16.378 9.89808 16.7475 10.3039 17.1089 10.7003C17.376 10.9767 17.4726 11.3163 17.495 11.6027C17.5176 11.8907 17.4711 12.1763 17.405 12.424C17.2729 12.9195 17.0204 13.4178 16.7745 13.7867C16.5294 14.1543 16.0327 14.2536 15.665 14.0085C15.2974 13.7635 15.1981 13.2668 15.4432 12.8991C15.6158 12.6401 15.7819 12.3012 15.8591 12.0118C15.8922 11.8875 15.9012 11.8009 15.9008 11.75C15.543 11.3576 15.179 10.9578 14.8181 10.5613L14.8179 10.5611C13.4499 9.05838 12.1249 7.60289 11.3422 6.77707C11.0217 6.43891 10.7343 6.3865 10.5155 6.40243C10.2727 6.42009 10.0571 6.53008 9.94586 6.61422ZM21.5647 24.6765L24.882 21.3588C25.0976 21.1432 25.1307 20.9366 25.1008 20.7318C25.067 20.4998 24.9459 20.2767 24.847 20.1515C24.1509 19.4208 23.0781 18.307 22.0949 17.3118C21.0739 16.2783 20.2193 15.4451 19.9445 15.239C19.9094 15.2127 19.8038 15.1628 19.5276 15.2511C19.2613 15.3363 18.9946 15.5065 18.8437 15.6322C18.5043 15.9151 17.9998 15.8692 17.717 15.5298C17.4341 15.1904 17.48 14.6859 17.8194 14.4031C18.0871 14.18 18.532 13.8897 19.0402 13.7272C19.5383 13.5679 20.2699 13.4831 20.9045 13.959C21.2995 14.2553 22.2589 15.2012 23.2331 16.1873C24.2352 17.2016 25.3271 18.3355 26.027 19.0705L26.0453 19.0897L26.0623 19.11C26.31 19.4074 26.5974 19.9067 26.6841 20.5009C26.7763 21.1333 26.635 21.8686 26.0134 22.4902L22.665 25.8389L22.6393 25.8645L22.6115 25.8878C22.2956 26.151 21.7577 26.437 21.1111 26.484C20.4232 26.5341 19.664 26.3074 19.007 25.6143C18.2121 24.7756 16.8706 23.3019 15.5009 21.7973L15.5005 21.7968L15.5004 21.7967C15.1328 21.3929 14.7632 20.9869 14.4016 20.5904C14.1345 20.314 14.038 19.9744 14.0155 19.688C13.9929 19.4 14.0394 19.1143 14.1055 18.8666C14.2376 18.3711 14.4901 17.8729 14.7361 17.504C14.9811 17.1364 15.4778 17.0371 15.8455 17.2822C16.2131 17.5272 16.3124 18.0239 16.0673 18.3916C15.8947 18.6506 15.7286 18.9895 15.6514 19.2789C15.6183 19.4032 15.6093 19.4898 15.6097 19.5406C15.9664 19.9318 16.3292 20.3304 16.6891 20.7257L16.6925 20.7294C18.0605 22.2322 19.3856 23.6878 20.1683 24.5136C20.4888 24.8518 20.7762 24.9042 20.995 24.8883C21.2378 24.8706 21.4535 24.7606 21.5647 24.6765ZM10.5837 9.80541C10.2611 9.50361 9.75481 9.52055 9.45301 9.84324C9.15121 10.1659 9.16814 10.6722 9.49083 10.974L20.0836 20.881C20.4063 21.1828 20.9125 21.1658 21.2143 20.8432C21.5161 20.5205 21.4992 20.0142 21.1765 19.7124L10.5837 9.80541Z' fill='%232D354F'/%3E%3C/svg%3E");
                background-size: 100% 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                content: '';
                height: 32px;
                margin-right: 8px;
                width: 32px;
                @media(min-width: $fhd) {
                    height: 1.667vw;
                    margin-right: 0.417vw;
                    width: 1.667vw;
                }
            }
        }
    }

    &__player {}

    &__media {
        @media(max-width: $md - 1px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 624px;
        }
        @media(min-width: $md) {
            align-self: stretch;
            order: -1;
            width: 46%;
        }

        img {
            border-radius: clamp(12px, 6vw, 32px);
            box-shadow: 0 0 10px 0 rgba(#000, 0.15);
            display: block;
            width: 100%;
            @media(min-width: $md) {
                border-radius: 0 32px 32px 0;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
            @media(min-width: $fhd) {
                border-radius: 0 1.667vw 1.667vw 0;
            }
        }
    }
}