.b-12 {
    padding: clamp(40px, 8.5vw, 54px) clamp(16px, 3.5vw, 64px);
    @media(min-width: $sm) {
        padding-left: 64px;
        padding-right: 64px;
    }
    @media(min-width: $md) {
        align-items: center;
        display: flex;
        padding-left: 0;
        padding-right: 0;
    }
    @media(min-width: $hd) {
        padding-top: clamp(54px, 6vw, 120px);
        padding-bottom: clamp(54px, 6vw, 120px);
    }
    @media(min-width: $fhd) {
        padding-top: 6.25vw;
        padding-bottom: 6.25vw;
    }

    &__media {
        margin-bottom: clamp(16px, 6.3vw, 48px);
        @media(min-width: $md) {
            margin-bottom: 0;
            width: 48.75%;
        }
        @media(min-width: $fhd) {
            width: 47.29%;
        }

        img {
            border-radius: 16px;
            display: block;
            width: 100%;
            @media(min-width: $sm) {
                border-radius: 24px;
            }
            @media(min-width: $md) {
                border-radius: 0 24px 24px 0;
            }
            @media(min-width: $fhd) {
                border-radius: 0 1.667vw 1.667vw 0;
            }
        }

        .video__video {
            @media(min-width: $sm) {
                border-radius: 24px;
            }
            @media(min-width: $md) {
                border-radius: 0 24px 24px 0;
            }
            @media(min-width: $fhd) {
                border-radius: 0 1.667vw 1.667vw 0;
            }
        }
    }

    &__text-block {
        @media(min-width: $md) {
            padding-left: clamp(48px, 4vw, 64px);
            width: 45.625%;
        }
        @media(min-width: $hd) {
            padding-left: 64px;
        }
        @media(min-width: $fhd) {
            padding-left: 3.334vw;
            width: 40%;
        }
    }

    &__title {
        font-size: clamp(36px, 8.5vw, 56px);
        font-weight: 400;
        line-height: 1.125;
        margin-bottom: clamp(16px, 5vw, 24px);
        @media(min-width: $md) and (max-width: $hd - 1px) {
            font-size: 48px;
        }
        @media(min-width: $hd) {
            font-size: clamp(48px, 4vw, 96px);
            margin-bottom: clamp(24px, 1vw, 32px);
        }
        @media(min-width: $fhd) {
            font-size: 5vw;
            margin-bottom: 1.667vw;
        }
    }

    &__text {
        @media(min-width: $hd) {
            width: 90%;
        }
    }
}