.b-2 {
    padding-top: clamp(32px, 8.5vw, 40px);
    @media(min-width: $sm) {
        padding-top: clamp(40px, 6vw, 72px);
    }
    @media(min-width: $md) {
        padding-left: clamp(64px, 6.5vw, 80px);
        padding-right: clamp(64px, 6.5vw, 80px);
    }
    @media(min-width: $hd) {
        padding-left: clamp(80px, 11vw, 220px);
        padding-right: clamp(80px, 11vw, 220px);
    }
    @media(min-width: $fhd) {
        padding-top: 3.75vw;
        padding-left: 11.5vw;
        padding-right: 11.5vw;
    }
    /*&:not(:last-child) {
        margin-bottom: clamp(40px, 8.5vw, 64px);
        @media(min-width: $sm) {
            margin-bottom: clamp(40px, 6vw, 72px);
        }
    }*/
    &.dark-bg {
        background-color: $bg-color;
        padding-bottom: clamp(40px, 8.5vw, 56px);
        @media(min-width: $sm) {
            padding-bottom: clamp(40px, 6vw, 72px);
        }
        @media(min-width: $fhd) {
            padding-bottom: 3.75vw;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__title-block {
        margin-bottom: 48px;
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;
        @media(min-width: $hd) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }
        @media(min-width: $fhd) {
            margin-bottom: 3vw;
        }

        &:not(:last-child) {
            margin-bottom: 48px;
            @media(min-width: $fhd) {
                margin-bottom: 2.5vw;
            }
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 16px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        @media(min-width: 560px) {
            max-width: initial;
        }
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }
        @media(min-width: $hd) {
            font-size: clamp(32px, 2.6vw, 48px);
            margin: 0;
        }
        @media(min-width: $fhd) {
            font-size: 2.5vw;
        }

        b {
            font-weight: 900;
        }

        br {
            @media(max-width: 559px) {
                display: none;
            }
        }
    }

    &__content {
        margin-left: auto;
        margin-right: auto;
        max-width: 498px;
        @media(min-width: $md) {
            max-width: 100%;
        }
    }
}

.list-table {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        border-top: 1px solid $text-color;
        padding: 20px;
        @media(min-width: $sm) {
            padding-left: 24px;
            padding-right: 0;
        }
        @media(min-width: $md) {
            display: flex;
            padding: 24px;
        }
        @media(min-width: $fhd) {
            padding: 1.459vw 0.73vw;
        }
    }

    &__title {
        align-items: baseline;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            font-size: 28px;
            line-height: 1.2;
        }
        @media(min-width: $md) {
            width: 54%;
        }
        @media(min-width: $fhd) {
            font-size: 1.459vw;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
            @media(min-width: $md) {
                margin-bottom: 0;
            }
        }
    }

    &__title-num {
        align-items: center;
        background-color: $bg-heavy-color;
        border-radius: 50%;
        display: flex;
        font-weight: 300;
        height: 32px;
        justify-content: center;
        line-height: 1.6;
        min-width: 32px;
        margin-right: 16px;
        width: 32px;
        @media(min-width: $sm) {
            height: 48px;
            margin-right: 24px;
            min-width: 48px;
            width: 48px;
        }
        @media(min-width: $md) {
            margin-right: 48px;
        }
        @media(min-width: $fhd) {
            height: 2.5vw;
            min-width: 2.5vw;
            margin-right: 3.334vw;
            width: 2.5vw;
        }
    }

    &__text {
        @media(min-width: $sm) {
            padding-left: 74px;
        }
        @media(min-width: $md) {
            padding-left: 24px;
            width: 46%;
        }
        @media(min-width: $hd) {
            max-width: 30vw;
        }
        @media(min-width: $fhd) {
            max-width: 24vw;
            padding-left: 1.667vw;
        }
    }
}