.b-13 {
    padding: clamp(32px, 8.5vw, 40px) 8px;
    @media(min-width: $fhd) {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $fhd) {
            font-size: 2.5vw;
            margin-bottom: 1.667vw;
        }
    }
}