.cases {
    padding-top: 32px;

    &__title-block {
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            padding-left: 24px;
            padding-right: 24px;
        }
        @media(min-width: $fhd) {
            padding-left: 4.167vw;
            padding-right: 4.167vw;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $md) {
            line-height: 1;
            margin-bottom: 0;
        }
        @media(min-width: $hd) {
            font-size: clamp(32px, 2.6vw, 40px);
            margin-right: 80px;
        }
        @media(min-width: $fhd) {
            font-size: 2.5vw;
            margin-right: 4.167vw;
        }
    }

    &__filter {
        overflow-x: auto;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;
        text-align: center;
        z-index: 1;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__filter-list {
        display: inline-flex;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        z-index: 1;
        @media(min-width: $fhd) {
            padding-left: 0.417vw;
            padding-right: 0.417vw;
        }
    }

    &__filter-button {
        background-color: #fff;
        border-radius: 8px 8px 0 0;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.16666;
        padding: 8px 16px;
        transition: background-color 0.3s, color 0.3s;
        @media(min-width: $fhd) {
            border-radius: 0.625vw 0.625vw 0 0;
            font-size: 0.938vw;
            line-height: 1.22222;
            padding: 0.625vw 1.25vw;
        }

        &:focus,
        &:hover {
            background-color: $bg-heavy-color;
        }

        &.is-active {
            background-color: #AFBCF0;
            color: #fff;
        }
        $count: 1;
        @while $count < 10 {
            &:nth-child(#{$count}) {
                margin-left: -2px;
                z-index: -#{$count};
                @media(min-width: $fhd) {
                    margin-left: -0.209vw;
                }
            }
            $count: $count + 1;
        }

        &:nth-child(1) {
            margin-left: 0;
            @media(min-width: $fhd) {
                margin-left: 0;
            }
        }
    }

    &__slider {
        border-top: 1px solid $link-hover-color;
        @media(min-width: $md) {
            box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid $link-hover-color;
            display: flex;
            overflow-x: auto;
        }

        .swiper-wrapper {
            display: block;
            @media(min-width: $md) {
                display: flex;
            }
        }

        .swiper-slide {
            width: auto;
        }
    }
}

.case {
    @media(min-width: $md) {
        border-top: none;
        border-bottom: none;
        display: flex;
        height: calc(90vh - 100px);
        min-height: 600px;
    }
    @media(min-width: $fhd) {
        height: calc(88vh - 5.209vw);
    }

    &.is-open {
        .case__title-block {
            background-color: $bg-color;
        }

        .case__detail {
            max-height: 1000px;
            @media(min-width: $md) {
                border-right: 1px solid $link-hover-color;
                max-height: 100%;
                width: 80vw;
            }
            @media(min-width: $fhd) {
                width: 73.8vw;
            }
        }
    }

    &__title-block {
        align-items: center;
        border: 1px solid $link-hover-color;
        border-top: none;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 108px;
        padding: 16px clamp(16px, 6vw, 64px);
        transition: background-color 0.3s;
        @media(min-width: $md) {
            border: none;
            border-right: 1px solid $link-hover-color;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
            min-height: 0;
            min-width: 108px;
            padding: 64px 16px;
            width: 108px;
        }
        @media(min-width: $fhd) {
            padding: 4.167vw 1.25vw;
            min-width: 8.438vw;
            width: 8.438vw;
        }

        &:hover {
            background-color: $bg-color;
        }
    }

    &__title {
        font-size: clamp(24px, 2.8vw, 28px);
        font-weight: 700;
        flex-grow: 1;
        margin-right: 16px;
        width: 56%;
        @media(min-width: $md) {
            margin-right: 0;
            writing-mode: vertical-lr;
            white-space: nowrap;
            width: auto;
        }
        @media(min-width: $fhd) {
            font-size: 1.875vw;
            margin-right: 0;
            writing-mode: vertical-lr;
            white-space: nowrap;
            width: auto;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__pt-p {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        @media(min-width: $md) {
            flex-direction: column;
            flex-grow: 0;
        }
    }

    &__podcast-time {
        align-items: flex-end;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.16666;
        margin-right: 16px;
        @media(min-width: $md) {
            margin-right: 0;
            margin-bottom: 56px;
        }
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            margin-bottom: 2.917vw;
        }

        svg {
            fill: $text-color;
            height: 16px;
            width: 40px;
            @media(min-width: $fhd) {
                height: 0.834vw;
                width: 3.125vw;
            }

            &:not(:last-child) {
                margin-right: 8px;
                @media(min-width: $fhd) {
                    margin-right: 0.417vw;
                }
            }
        }
    }

    &__period {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.16666;
        text-align: center;
        @media(min-width: $fhd) {
            font-size: 0.938vw;
        }
    }

    &__detail {
        border-left: 1px solid $link-hover-color;
        border-right: 1px solid $link-hover-color;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s;
        @media(min-width: $md) {
            border-top: none;
            border-left: none;
            border-right: none;
            max-height: 100%;
            transition: width 0.7s;
            width: 0;
        }
        @media(min-width: $fhd) {
            transition: width 0.5s;
        }
    }

    &__detail-inner {
        background-color: $bg-color;
        box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.15) inset;
        display: flex;
        flex-direction: column;
        padding: 16px 12px;
        @media(min-width: $sm) {
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 24px;
        }
        @media(min-width: $md) {
            box-shadow: 12px 0 12px -8px rgba(0, 0, 0, 0.15) inset;
            height: 100%;
            padding-left: 40px;
            padding-right: 40px;
            width: 80vw;
        }
        @media(min-width: $hd) {
            padding-left: 80px;
            padding-right: 80px;
        }
        @media(min-width: $fhd) {
            padding-top: 3.334vw;
            padding-left: 9.375vw;
            padding-right: 9.375vw;
            width: 73.8vw;
        }
    }

    &__detail-title-block {
        margin-bottom: 40px;
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        @media(min-width: $fhd) {
            margin-bottom: 2.084vw;
        }
    }

    &__player {
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $md) {
            margin-bottom: 0;
        }
    }

    &__detail-title {
        font-size: clamp(40px, 2.8vw, 48px);
        font-weight: 900;
        text-align: center;
        @media(min-width: $md) {
            text-align: left;
        }
        @media(min-width: $fhd) {
            font-size: 2.5vw;
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $fhd) {
                margin-bottom: 1.459vw;
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: 16px;
                @media(min-width: $fhd) {
                    margin-bottom: 1.459vw;
                }
            }
        }
    }

    &__nums {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        @media(min-width: $fhd) {
            margin-left: -0.625vw;
            margin-right: -0.625vw;
        }
    }

    &__nums-item {
        align-items: center;
        display: flex;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-left: 12px;
        padding-right: 12px;
        width: 50%;
        @media(min-width: $sm) {
            width: 25%;
        }
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            padding-left: 0.625vw;
            padding-right: 0.625vw;
        }
    }

    &__nums-title {
        font-size: 32px;
        font-weight: 900;
        margin-right: 12px;
        @media(min-width: $fhd) {
            font-size: 2.5vw;
            margin-right: 1.25vw;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__image {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -16px;
        @media(min-width: $sm) {
            margin-left: 0;
            margin-right: 0;
        }
        @media(min-width: $md) {
            margin-top: auto;
        }

        img {
            border-radius: 24px 24px 0 0;
            display: block;
            width: 100%;
            @media(min-width: $fhd) {
                border-radius: 1.25vw 1.25vw 0 0;
            }
        }
    }
}