.contacts {
    padding: clamp(32px, 8.5vw, 40px) 24px;
    @media(min-width: $md) {
        display: grid;
        padding-left: 48px;
        padding-right: 48px;
    }
    @media(min-width: $hd) {
        grid-column-gap: clamp(56px, 4.6vw, 80px);
        grid-template-columns: max-content auto-fit;
        padding-left: clamp(56px, 4.6vw, 80px);
        padding-right: clamp(56px, 4.6vw, 80px);
    }
    @media(min-width: $fhd) {
        grid-column-gap: 4.167vw;
        padding: 2.917vw 4.167vw;
    }

    &__title-block {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        text-align: center;
        @media(min-width: $md) {
            grid-column: 1;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
        }
        @media(min-width: $fhd) {
            margin-bottom: 2.5vw;
            max-width: 25vw;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 12px;
        @media(min-width: $hd) {
            font-size: clamp(40px, 4.6vw, 80px);
        }
        @media(min-width: $fhd) {
            font-size: 4.167vw;
            margin-bottom: 1.667vw;
        }
    }

    &__form-block {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
        @media(min-width: $md) {
            align-self: start;
            grid-row: span 2;
            grid-column: 2;
            max-width: 920px;
            text-align: left;
        }
        @media(min-width: $fhd) {
            margin-bottom: 4.167vw;
            max-width: 47.917vw;
        }
    }

    &__form-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.25;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 12px;
        text-align: center;
        @media(min-width: $md) {
            margin-left: auto;
            margin-right: auto;
            max-width: 434px;
            text-align: left;
        }
        @media(min-width: $hd) {
            font-size: clamp(40px, 4.6vw, 64px);
            max-width: 100%;
        }
        @media(min-width: $fhd) {
            font-size: 3.334vw;
            margin-bottom: 2.5vw;
        }
    }

    .form__row {
        margin-left: auto;
        margin-right: auto;
        max-width: 434px;
        @media(min-width: $sm) and (max-width: $hd - 1px) {
            display: block;
        }
        @media(min-width: $hd) {
            max-width: initial;
            margin-left: -10px;
            margin-right: -10px;
        }
        @media(min-width: $fhd) {
            margin-left: -1.25vw;
            margin-right: -1.25vw;
        }
    }

    .form__cell {
        @media(min-width: $sm) and (max-width: $hd - 1px) {
            padding: 0;
            width: 100%;
        }
    }

    .form__button-block {
        text-align: center;
        @media(min-width: $sm) and (max-width: $hd - 1px) {
            display: block;
        }
        @media(min-width: $hd) {
            text-align: left;
        }

        .button {
            min-width: 180px;
            @media(min-width: $fhd) {
                min-width: 11.875vw;
            }
        }
    }

    .form__note {
        @media(min-width: $sm) and (max-width: $hd - 1px) {
            margin-top: 28px;
            padding-left: 0;
        }
    }

    &__links {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        text-align: center;
        @media(min-width: $md) {
            grid-column: 1;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
        }
        @media(min-width: $hd) {
            display: flex;
            flex-direction: column;
            grid-row: span 2;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        @media(min-width: $fhd) {
            font-size: 1.25vw;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
            @media(min-width: $fhd) {
                margin-bottom: 0.834vw;
            }
        }
    }

    &__link {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.2;
        @media(min-width: $fhd) {
            font-size: 1.667vw;
        }

        a {
            text-decoration: none;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
            @media(min-width: $fhd) {
                margin-bottom: 2.5vw;
            }
        }
    }

    &__socials {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @media(min-width: $md) {
            justify-content: flex-start;
        }
        @media(min-width: $hd) {
            margin-top: auto;
        }

        .social-button {
            &:not(:last-child) {
                margin-right: 18px;
                @media(min-width: $fhd) {
                    margin-right: 0.938vw;
                }
            }
        }
    }

    &__map {
        box-shadow: 0 -24px 40px 0 rgba(#000, 0.15);
        background-color: $bg-heavy-color;
        border-radius: 24px 24px 0 0;
        border: 2px solid $text-color;
        border-bottom: none;
        height: 160px;
        margin-left: -16px;
        margin-right: -16px;
        @media(min-width: $sm) {
            height: 270px;
        }
        @media(min-width: $md) {
            grid-column: span 2;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        @media(min-width: $hd) {
            grid-column: 2;
            max-width: 920px;
        }
        @media(min-width: $fhd) {
            border-width: 0.105vw;
            border-radius: 1.667vw 1.667vw 0 0;
            box-shadow: 0 -1.25vw 2.5vw 0 rgba(#000, 0.15);
            height: 18.23vw;
            max-width: 47.917vw;
        }
    }
}