.footer {
    padding: 32px 20px;
    position: relative;
    z-index: 0;
    @media(min-width: $sm) {
        padding-left: 48px;
        padding-right: 48px;
    }
    @media(min-width: $hd) {
        padding-left: 180px;
        padding-right: 180px;
    }
    @media(min-width: $fhd) {
        padding-top: 1.667vw;
        padding-bottom: 2.5vw;
    }

    &__inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 912px;
        @media(min-width: $fhd) {
            max-width: 47.5vw;
        }
    }

    &__top {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            display: flex;
            justify-content: space-between;
        }
        @media(min-width: $hd) {
            margin-bottom: 32px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 1.667vw;
        }

        .footer__title {
            display: none;
            margin-bottom: 0;
            @media(min-width: $sm) {
                display: block;
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.77777;
        margin-bottom: 20px;
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            margin-bottom: 20px;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        @media(min-width: $hd) {
            bottom: 52px;
            flex-direction: column;
            left: 32px;
            position: absolute;
            top: auto;
            z-index: 1;
        }
        @media(min-width: $fhd) {
            bottom: 2.709vw;
            left: 1.667vw;
        }

        .social-button {
            &:not(:last-child) {
                margin-right: 18px;
                @media(min-width: $hd) {
                    margin-right: 0;
                    margin-bottom: 18px;
                }
                @media(min-width: $fhd) {
                    margin-right: 0;
                    margin-bottom: 0.938vw;
                }
            }
        }
    }

    &__link {
        font-size: 36px;
        font-weight: 900;
        line-height: 1.11111;
        margin-bottom: 40px;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 64px;
            line-height: 1.5;
            text-align: left;
        }
        @media(min-width: $fhd) {
            font-size: 3.334vw;
        }

        a {
            display: inline-block;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.2em;
            vertical-align: top;
            @media(min-width: $fhd) {
                text-decoration-thickness: 0.105vw;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        line-height: 1.16666;
        margin-bottom: 40px;
        text-align: center;
        @media(min-width: $sm) {
            display: grid;
            font-size: 18px;
            grid-template-columns: max-content max-content max-content;
            grid-column-gap: 88px;
            line-height: 1.22222;
            text-align: left;
        }
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            grid-column-gap: 4.584vw;
            margin-bottom: 2.084vw;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 24px;
                @media(min-width: $sm) {
                    margin-bottom: 22px;
                }
                @media(min-width: $fhd) {
                    margin-bottom: 1.146vw;
                }
            }
        }
    }

    &__contacts-column {
        &:not(:last-child) {
            margin-bottom: 32px;
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
        }
    }

    &__bottom {
        text-align: center;
        @media(min-width: $sm) {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            text-align: left;
        }
    }

    &__copyright {
        &:not(:last-child) {
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
        }
    }
}