.podcasts {
    @media(min-width: $hd) {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 1472px;
    }
    @media(min-width: $fhd) {
        max-width: 76.667vw;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
        @media(min-width: $hd) {
            margin-bottom: 16px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 1.25vw;
        }
    }

    &__list {
        @media(min-width: $hd) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -12px;
            margin-right: -12px;
        }
        @media(min-width: $fhd) {
            margin-left: -0.625vw;
            margin-right: -0.625vw;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }
        @media(min-width: $hd) {
            padding-left: 12px;
            padding-right: 12px;
            width: 50%;
        }
        @media(min-width: $fhd) {
            margin-bottom: 1.25vw;
            padding-left: 0.625vw;
            padding-right: 0.625vw;
        }
    }

    .podcast {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
        @media(min-width: $hd) {
            max-width: 100%;
        }
    }
}

.podcast {
    border-radius: 12px;
    background-color: $bg-light-color;
    display: flex;
    flex-direction: column;
    padding: 16px;
    @media(min-width: $fhd) {
        border-radius: 0.625vw;
        padding: 1.25vw;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 6px;
        @media(min-width: $fhd) {
            margin-bottom: 0.3125vw;
        }
    }

    &__tag {
        background-color: $bg-heavy-color;
        border-radius: 12px;
        font-size: 14px;
        line-height: 1.14285;
        margin-bottom: 6px;
        padding: 4px 22px;
        @media(min-width: $fhd) {
            border-radius: 0.625vw;
            font-size: 0.834vw;
            margin-bottom: 0.3125vw;
            padding: 0.105vw 1.668vw;
        }

        &:not(:last-child) {
            margin-right: 6px;
            @media(min-width: $fhd) {
                margin-right: 0.3125vw;
            }
        }
    }

    &__info {
        align-items: flex-start;
        display: flex;
        margin-bottom: 16px;
        @media(min-width: $fhd) {
            align-items: flex-end;
            margin-bottom: 2.084vw;
        }
    }

    &__image {
        max-width: 120px;
        width: 25.08%;
        @media(min-width: $hd) {
            max-width: initial;
            width: 8.542vw;
        }

        img {
            border-radius: 6px;
            box-shadow: 0 2px 2px 0 rgba(#000, 0.25);
            display: block;
            width: 100%;
            @media(min-width: $fhd) {
                border-radius: 0.625vw;
                box-shadow: 0 0.2084vw 0.2084vw 0 rgba(#000, 0.25);
            }
        }
    }

    &__about {
        font-size: 12px;
        flex-grow: 1;
        padding-left: 12px;
        width: 74.92%;
        @media(min-width: $sm) {
            font-size: 16px;
            padding-left: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            padding-left: 1.25vw;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 12px;
        @media(min-width: $fhd) {
            font-size: 1.25vw;
            margin-bottom: 0.625vw;
        }
    }

    &__details {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__player {
        width: 51.8%;

        .player {
            width: 100%;
        }
    }

    &__speakers-block {
        @media(min-width: $fhd) {
            align-items: center;
            display: flex;
        }
    }

    &__speakers-title {
        font-size: 12px;
        font-weight: 700;
        @media(min-width: $fhd) {
            font-size: 0.938vw;
            margin-right: 0.834vw;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
            @media(min-width: $fhd) {
                margin-bottom: 0;
            }
        }
    }

    &__speakers {
        display: flex;
    }

    &__speaker {
        height: 48px;
        min-width: 48px;
        width: 48px;
        @media(min-width: $fhd) {
            height: 2.917vw;
            min-width: 2.917vw;
            width: 2.917vw;
        }

        &:nth-child(2) {
            margin-left: -8px;
            z-index: 1;
        }

        &:nth-child(3) {
            margin-left: -8px;
            z-index: 2;
        }

        img {
            border-radius: 12px;
            border: 1px solid $text-color;
            display: block;
            width: 100%;
            @media(min-width: $fhd) {
                border-radius: 0.938vw;
            }
        }
    }
}

.podcasts-gallery {
    margin-bottom: 24px;
    @media(min-width: $sm) {
        background-color: $bg-light-color;
        border-radius: 8px;
        padding-bottom: 16px;
    }
    @media(min-width: $hd) {
        border-radius: 12px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1472px;
    }
    @media(min-width: $fhd) {
        max-width: 76.667vw;
        margin-bottom: 2.084vw;
    }

    &__filter {
        border-bottom: 1px solid rgba($text-color, 0.3);
        margin-bottom: 24px;
        padding-left: 24px;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        @media(min-width: $sm) {
            margin-bottom: 12px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 0.625vw;
            padding-left: 1.25vw;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__filter-list {
        display: inline-flex;
    }

    &__filter-button {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        color: rgba($text-color, 0.5);
        cursor: pointer;
        font-size: inherit;
        font-weight: 700;
        margin-right: 24px;
        padding: 8px 0;
        transition: color 0.3s, border-bottom-color 0.3s;
        @media(min-width: $fhd) {
            border-width: 0.105vw;
            margin-right: 1.25vw;
            padding-top: 0.625vw;
            padding-bottom: 0.625vw;
        }

        &.is-active {
            border-bottom-color: #728CCF;
            color: $text-color;
        }
    }

    &__slider {
        .swiper-slide {
            height: auto;
            display: flex;
            padding-left: 8px;
            padding-right: 8px;
            width: auto;
            @media(min-width: $fhd) {
                padding-left: 0.521vw;
                padding-right: 0.521vw;
            }
        }
    }
}

.b-6 {
    .podcasts-gallery {
        margin-left: -12px;
        margin-right: -12px;
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.podcast-card {
    border-radius: 12px;
    background-color: $bg-light-color;
    display: block;
    height: auto;
    padding: 12px;
    text-decoration: none;
    width: 200px;
    @media(min-width: $fhd) {
        border-radius: 0.834vw;
        padding: 0.834vw;
        width: 13.75vw;
    }

    &:active,
    &:focus,
    &:hover {
        color: $text-color;
    }

    &__image {
        display: block;
        margin-bottom: 12px;
        @media(min-width: $fhd) {
            margin-bottom: 0.834vw;
        }

        img {
            border-radius: 12px;
            box-shadow: 0 4px 4px rgba(#000, 0.25);
            display: block;
            width: 100%;
            @media(min-width: $fhd) {
                border-radius: 0.834vw;
                box-shadow: 0 0.313vw 0.313vw rgba(#000, 0.25);
            }
        }
    }

    &__title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.375;
        margin-bottom: 8px;
        @media(min-width: $fhd) {
            font-size: 1.25vw;
            margin-bottom: 0.625vw;
        }
    }

    &__text {
        display: block;
        font-size: 12px;
        @media(min-width: $fhd) {
            font-size: 0.834vw;
        }
    }
}